<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta name="yandex-verification" content="6d1e5ea03fa4594a" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Coland - Agency</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="images/icons/coland_favicon.png">
        <!-- Bootstrap -->
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <!-- Custom style -->
        <link href="css/style.css" rel="stylesheet">
        <!-- Animated -->
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/animated-headline.css" rel="stylesheet">
        <!-- Shuffle -->
        <link href="css/custom-shuffle.css" rel="stylesheet">
        <!-- Slick -->
        <link href="css/slick.css" rel="stylesheet">
        <link href="css/slick-theme.css" rel="stylesheet">
        <link href="css/custom-slick.css" rel="stylesheet">
        <!-- Section animation -->
        <link href="css/aos.css" rel="stylesheet">
        <!-- Responsive -->
        <link href="css/responsive.css" rel="stylesheet">

        <link href="fonts/materialdesign-web/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="fonts/flaticon/flaticon.css" rel="stylesheet">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">

    <style>
        .logo-coland {
            height: 80px;
            width: 80px;
        }
    </style>
    </head>
    <body id="page-top">

        <!-- START LOADER -->
        <div class="loader-fix theme-bg-secondary-light">
            <div class="loader-center">
                <div class="loader-dots"></div>
            </div>
        </div>
        <!-- END LOADER -->

        <!-- START NAVIGATION -->
        <div id="navigation">
            <nav class="navbar navbar-expand-lg p-0" id="mainNav">
                <div class="container-fluid">

                    <a class="logo h3 js-scroll-trigger" href="#page-top">
                        <img style="width: 200px; height: 40px" src="images/icons/logo_black.png" alt="">
                    </a>
                    <button class="navbar-toggler navbar-toggler-right theme-btn theme-btn-default" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span>
                            <i class="mdi mdi-menu mdi-24px"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li><a class="nav-link js-scroll-trigger" href="#page-top">Əsas</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="#about">Biz Kimik?</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="#services">Xidmətlərimiz</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="#contact">Əlaqə</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- END NAVIGATION -->

        <!-- START SLIDER -->
        <div id="slider" class="aos-item slider-bg theme-bg-secondary-light" data-aos="fade-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6">
                                <div class="slider-item animate__animated animate__fadeInLeft">
                                    <div class="slider-item-left">
                                        <h1>Yaradıcı </h1>
                                        <h1 class="cd-headline clip is-full-width">
                                            <span class="cd-words-wrapper theme-text-default">
                                                <b class="is-visible">komanda.</b>
                                                <b>həllər.</b>
                                                <b>işlər.</b>
                                            </span>
                                        </h1>
                                        <p>Bizimlə əməkdaşlıq sənə daha çox müştəri, daha çox mənfəət gətirəcək.</p>
                                        <div class="slider-btn">
                                            <a href="#services" class="theme-btn theme-btn-default js-scroll-trigger">
                                                Başla
                                                <i class="flaticon-double-right-arrows-angles"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="slider-item animate__animated animate__fadeInRight">
                                    <div class="slider-item-right">
                                        <img src="images/slider-img-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SLIDER -->


        <!-- START ABOUT -->
        <div id="about" class="aos-item" data-aos="fade-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5">
                                <div class="about-item-left about-item">
                                    <img src="images/about-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="about-item-right about-item">
<!--                                    <h5 class="theme-text-default"><img src="images/icons/icon.png" alt=""> Biz kimik</h5>-->
                                    <h1 class="about-title">Biz nə edirik?</h1>
                                    <h1 class="about-title-second theme-text-default">Brendinq &amp; Dizayn.</h1>
                                    <p>Biz müştərilərinizə təklif etdiyiniz məhsul və ya xidməti yaradıcı yanaşma ilə rəqəmsal platformaya çıxarmağa kömək edirik.</p>
                                    <ul class="about-list">
                                        <li><i class="mdi mdi-check theme-text-default"></i> Yüksək müştəri məmnuniyyəti daha çox müştəri deməkdir</li>
                                        <li><i class="mdi mdi-check theme-text-default"></i> Daha çox müştəri daha çox mənfəət deməkdir</li>
                                    </ul>
                                    <a href="#" class="theme-btn theme-btn-default">Başla <i class="flaticon-double-right-arrows-angles"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ABOUT -->

        <!-- START SERVICES -->
        <div id="services" class="theme-bg-secondary-light aos-item" data-aos="fade-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row service-item-right">
                                    <div class="col-lg-4">
                                        <div class="section-header">
<!--                                            <h5 class="section-short-title theme-text-default">Biz Nə Edirik?</h5>-->
                                            <img style="width: 200px; height: 40px" src="images/icons/logo_black.png" alt="">
                                            <h1 class="section-title">Sahibkarlara <span>Təkliflərimiz</span></h1>
                                            <p>Xidmətlərimizdən yararlanmaq üçün ilk olaraq bizə müraciət edin. Sizə təklif edəcəyimiz model ilə <stron>ödənişsiz</stron> tanış olun.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="service-item">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div>
                                                        <img src="images/icons/services/service-icon-1.png" alt="">
                                                    </div>
                                                    <h3>Brendinq</h3>
                                                    <p>Təqdim edəcəyiniz korperativ brandbook ilə müştərilərin diqqətini üzərinizə cəmləyin.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="service-item">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div>
                                                        <img src="images/icons/services/service-icon-2.png" alt="">
                                                    </div>
                                                    <h3>Web Səhifə</h3>
                                                    <p>Bazardakı varlığınızın ilkin göstəricisi sizin rəsmi saytınızdır.
                                                        Biznesiniz haqqında ilkin fikir də məhz bu vasitəylə yaranır.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="service-item">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div>
                                                        <img src="images/icons/services/service-icon-3.png" alt="">
                                                    </div>
                                                    <h3>Animasiya</h3>
                                                    <p>İnfoqrafik reklamlarla gördüyünüz işi müştərilərə daha aydın izah edin.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="service-item">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div>
                                                        <img src="images/icons/services/service-icon-4.png" alt="">
                                                    </div>
                                                    <h3>Multimedia</h3>
                                                    <p>Xitab etdiyiniz seqmentdən asılı olmayaraq video reklam biznesinizin güzgüsüdür.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="service-item">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div>
                                                        <img src="images/icons/services/service-icon-5.png" alt="">
                                                    </div>
                                                    <h3>SMM</h3>
                                                    <p>Müştərinizin dostu olmaq üçün daim onlarla təmasda qalın.
                                                     Şikayət və təkliflərə həmin an reaksiya verin.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SERVICES -->

        <!-- START PORTFOLIO -->
        <div id="portfolio" class="aos-item" data-aos="fade-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-warp">
                            <div class="section-header">
                                <h1 class="section-title">Bizi<span> Kəşf Et</span></h1>
                                <p>Komandamızın iş prinsipi işi mərhələli şəkildə təşkil edib proyekti uğurla təhvil verməkdir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row theme-shuffle">
                    <figure class="shuffle-image-item col-4" data-groups="[&quot;design&quot;]">
                        <div class="shuffle-hover-effect">
                            <img src="images/portfolio/portfolio-img-1.jpg" alt="">
                            <div class="shuffle-image-item-warp">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="shuffle-content-title">Komandamız biznesinizlə tanış olur</h5>
                                        <p class="shuffle-content-content">Araşdırma</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="shuffle-image-item shuffle-image-item-active col-4" data-groups="[&quot;design&quot;]">
                        <div class="shuffle-hover-effect">
                            <img src="images/portfolio/portfolio-img-2.jpg" alt="">
                            <div class="shuffle-image-item-warp">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="shuffle-content-title">Hansı xidmətlərin göstəriləcəyi müəyyənləşir</h5>
                                        <p class="shuffle-content-content">Proyektə giriş</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="shuffle-image-item col-4" data-groups="[&quot;development&quot;]">
                        <div class="shuffle-hover-effect">
                            <img src="images/portfolio/portfolio-img-3.jpg" alt="">
                            <div class="shuffle-image-item-warp">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="shuffle-content-title">Yaradıcı komanda kontent üzərində işə başlayır</h5>
                                        <p class="shuffle-content-content">Proses</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="shuffle-image-item col-6" data-groups="[&quot;application&quot;]">
                        <div class="shuffle-hover-effect">
                            <img src="images/portfolio/portfolio-img-4.jpg" alt="">
                            <div class="shuffle-image-item-warp">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="shuffle-content-title">Təqdimata hazırlanan proyekt test edilir</h5>
                                        <p class="shuffle-content-content">Test</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <figure class="shuffle-image-item col-6" data-groups="[&quot;testing&quot;]">
                        <div class="shuffle-hover-effect">
                            <img src="images/portfolio/portfolio-img-5.jpg" alt="">
                            <div class="shuffle-image-item-warp">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="shuffle-content-title">Proyekt müştəriyə təhvil verilir</h5>
                                        <p class="shuffle-content-content">Final</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="col-1 theme-shuffle-result"></div>
                </div><!-- row theme-shuffle -->
            </div><!-- container -->
        </div>
        <!-- END PORTFOLIO -->

        <!-- START START -->
        <div id="start" class="theme-bg-secondary-light aos-item" data-aos="fade-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="start-item">
                                    <h1>Proyektlərimizlə elə indi tanış olmaq istəyirsən?</h1>
                                    <a href="#" class="theme-btn theme-btn-default">Keçid et <i class="flaticon-double-right-arrows-angles"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END START -->



        <!-- START CONTACT -->
        <div id="contact" class="aos-item" data-aos="fade-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-warp">
                            <div class="section-header">
                                <h1 class="section-title"><span>Biznesinizi Canlandırmaq Üçün </span>Bizə Müraciət Edin</h1>
                                <p>Biznesinizi onlayn məcrada geniş auditoriyalara çatdırmaq istəyirsinizsə elə indi müraciət edin.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="contact-info-item">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="icon-rotate icon-rotate-center icon-rotate-light">
                                                        <i class="flaticon-telephone flaticon-icon flaticon-icon-lg"></i>
                                                    </div>
                                                    <h3>Telefon</h3>
                                                    <p>+994 55 352 74 83</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="contact-info-item">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="icon-rotate icon-rotate-center icon-rotate-light">
                                                        <i class="flaticon-email flaticon-icon flaticon-icon-lg"></i>
                                                    </div>
                                                    <h3>Email</h3>
                                                    <p>info@coland.az</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="contact-info-item">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="icon-rotate icon-rotate-center icon-rotate-light">
                                                        <i class="flaticon-location flaticon-icon flaticon-icon-lg"></i>
                                                    </div>
                                                    <h3>Ünvan</h3>
                                                    <p>44 Jafar Jabbarli street, Baku. Caspian Plaza, Lotfi Zadeh Technology Center</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="contact-item">
                                    <div class="card">
                                        <div class="card-body">
                                            <form class="col-form" action="#">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="name" placeholder="Ad">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="phone" placeholder="Tel:">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="email" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="subject" placeholder="Mövzu">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <textarea class="form-control" name="message" rows="4" placeholder="Yazı"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <button class="theme-btn theme-btn-default">Göndər <i class="flaticon-double-right-arrows-angles"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTACT -->

        <!-- START CLIENTS -->
<!--        <div id="clients" class="aos-item" data-aos="fade-in">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="row clients-carousel">-->
<!--                            <div>-->
<!--                                <div class="clients-item">-->
<!--                                    <a href="#">-->
<!--                                        <img src="images/clients/client-img-1.png" class="theme-tooltip" title="Company INC" data-toggle="tooltip" data-placement="top" alt="">-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div class="clients-item">-->
<!--                                    <a href="#">-->
<!--                                        <img src="images/clients/client-img-2.png" class="theme-tooltip" title="Company INC" data-toggle="tooltip" data-placement="top" alt="">-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div class="clients-item">-->
<!--                                    <a href="#">-->
<!--                                        <img src="images/clients/client-img-3.png" class="theme-tooltip" title="Company INC" data-toggle="tooltip" data-placement="top" alt="">-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div class="clients-item">-->
<!--                                    <a href="#">-->
<!--                                        <img src="images/clients/client-img-4.png" class="theme-tooltip" title="Company INC" data-toggle="tooltip" data-placement="top" alt="">-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div class="clients-item">-->
<!--                                    <a href="#">-->
<!--                                        <img src="images/clients/client-img-5.png" class="theme-tooltip" title="Company INC" data-toggle="tooltip" data-placement="top" alt="">-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- END CLIENTS -->

        <!-- START FOOTER -->
        <div id="footer" class="theme-bg-secondary aos-item" data-aos="fade-in">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-3">
                                <div class="footer-item">
                                    <a class="logo h3 js-scroll-trigger" href="#page-top">
                                        <img style="width: 200px; height: 35px" src="images/icons/logo_text_white.png" alt="">

                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="footer-item">
                                    <p>&copy; 2021 Coland | All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="footer-item">
                                    <ul class="social-media-icons">
                                        <li>
                                            <a href="#" class="icon-bg icon-bg-sm theme-btn-default">
                                                <i class="mdi mdi-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="icon-bg icon-bg-sm theme-btn-default">
                                                <i class="mdi mdi-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="icon-bg icon-bg-sm theme-btn-default">
                                                <i class="mdi mdi-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="icon-bg icon-bg-sm theme-btn-default">
                                                <i class="mdi mdi-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- START BACK TO TOP -->
        <div id="backtotop">
            <a href="#page-top" class="js-scroll-trigger theme-btn-default icon-bg icon-bg-md">
                <i class="flaticon-double-right-arrows-angles"></i>
            </a>
        </div>
        <!-- END BACK TO TOP -->

        <!-- Bootstrap core JS-->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="js/jquery.easing.min.js"></script>
        <!-- Animated headline -->
        <script src="js/main.js"></script>
        <script src="js/modernizr.js"></script>
        <!-- Shuffle -->
        <script src='js/shuffle.min.js'></script>
        <script src='js/custom-shuffle.js'></script>
        <!-- Slick -->
        <script src="js/slick.min.js"></script>
        <!-- Section animation -->
        <script src="js/aos.js"></script>
        <!-- Core theme JS-->
        <script src="js/custom-script.js"></script>
        
    </body>
</html>